body, html {
    margin: 0;
    background-color: whitesmoke;
    font-family: Times, serif;
}

.header{
    background:linear-gradient(to right,#15b3a5, #97e0ce);
    margin-bottom:10px;

}

.navbar-brand {
    margin-left: 3px;
    font-family: 'Playfair Display', serif;
    font-size: 30px ;
}
  
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

  
.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgb(245, 244, 244);

}

table {
    margin: 20px;
    border-collapse: collapse;
    width:20%;
    margin-bottom: 10px;
    margin-left: 15px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 10px;
    border: 1px solid rgb(245, 244, 244);
}

.selecionar_porta{
    width: 15%;
    border: 1px solid rgb(245, 244, 244);
    background: rgb(185, 238, 233);
}

.opc_dispositivo{
    width: 75px;
}

#content {
    width: 70%;

}