body, html {
    margin: 0;
    font-family: sans-serif;
}
navbar {
    background-color: #00ffff;
  }
  
.navbar-brand {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  
.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgb(252, 248, 248);
}

table {
    border-collapse: collapse;
    width: 90%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}