{% extends 'base.html' %}

{% block head %}
<title > Casa Smart</title>
{% endblock %}

{% block body %}
<header>
    <div class="navbar navbar-light bg-dark ">
        <img class = "rounded-circle mr-3" src="https://source.unsplash.com/70x70/?smart_home" alt="Logo do Site">
        <a class="navbar-brand text-white " style ="text-align:left">Sua Casa Smart</a>
    </div>
</header>
<div class = "content">
    <h2 style = "text-align: center">Estas são as portas disponíveis, escolha uma para continuar: </h4>
        <div  style = "text-align: center">
        {% for porta in portas %}
        <form action="/arduino_connect/?porta={{porta}}" method = "POST">
            <input type="submit" class="btn btn-outline-primary" value= {{porta}}  >
        </form>
        {% endfor %}
        </div>
        
    {% if disps|length < 1 %}
    <h4 style = "text-align: center">Não há dispositivos. Adicione um!</h4>
    {% else %}
    <h4 style = "text-align: center">Lista de Dispositivos</h4>
    <table>
        <tr>
            <th>Dispositivo</th>
            <th>Opcões</th>
        </tr>
        {% for disp in disps %}
            <tr>
                <td>{{ disp.content }}</td>
                <td>
                    <a href="/delete/{{disp.id}}">Excluir</a>
                    <br>
                    <a href="/renomear/{{disp.id}}">Renomear</a>
                    <br>
                    <a href="/controle/{{disp.id}}">Funções</a>
               
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class = "form">
        <form action="/" method = "POST">
            <input type="text" name ="content" id ="content">
            <input type="submit" value="Adicionar Dispositivo">
        </form>
    </div>
</div>
{% endblock %}